* {
    margin: 0;
    padding: 0;
}

body {
   background-color: tan;
   font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}

.header h1 {
    padding: 20px;
    text-align: left;
    background: beige;
    color: black;
    font-size: 50px;
    border: 5px solid gray;
    border-radius: 3px;
    text-decoration: underline;
}

.header h3 {
    text-decoration: wavy;
    font-weight: 500;
    color: black;
    border: 3px solid tan;
    border-radius: 3px;
}

.a ul {
  background-color: beige;
  border: 5px solid gray;
  border-radius: 3px;
  overflow: hidden;
  padding: 15px;
  font-weight: 500;
} 

.a li {
    display: block;
    background-color: beige;
    text-decoration: none;
    float: left;
    padding-left: 250px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: tan;
}

.card {
    margin: 5px 5px;
    padding: 10px;
    height: 250px;
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: beige;
    color: black;
    border: 5px solid gray;
    border-radius: 3px;
}

#about p {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

#contact p {
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.card img {
    border: 3px solid black;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 150px;
}

.card img:hover {
    background-color: tan;
}

.footer {
    padding: 20px;
    text-align: center;
    background: beige;
    color: black;
    font-size: 12px;
    padding: 10px;
    border: 5px solid gray;
}