* {
    margin: 0;
    padding: 0;
}

body {
   background-color: tan;
   font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}

.header {
    padding: 40px;
    text-align: left;
    background: beige;
    color: black;
    font-size: 30px;
    padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: cornsilk;
  overflow: hidden;
  border: 6px solid tan;
} 

nav li {
    display: block;
    background-color: cornsilk;
    text-align: center;
    padding: 15px 150px;
    text-decoration: none;
    border: 0px solid tan;
    float:left
}

img {
    width: 100%;
    background-size: auto;
    overflow: hidden;
    background-image: url(.assets/images/Fern-img.jpeg);
}

.footer {
    padding: 20px;
    text-align: center;
    background: beige;
    color: black;
    font-size: 12px;
    padding: 10px;
}